:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --tertiary-bg-color: #2F303A;
    --button-text: #FFFFFF;
    --feature-gap: 30px;
    --color-icon: #AFB1B8;

}


body {
    
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

a.link {
    text-decoration: none;
    outline: none;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.link:hover, .link:focus {
    color: var(--accent-color);
}
.logo {
    display: block ;
    

    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo > span {
    color: var(--title-text-color);
}

.menu {
    display: flex;
    align-items: center;
  
}
.nav {
    display: flex;
    align-items: center;

}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav .link {
    position: relative;
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

    transition-property: background-color;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    
}
.site-nav .current::after {
    position: absolute;

    left: 0;
    top: 44px;

    display: inline-block;
    content: "";
    padding: 0;
    margin: 0;

    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

}

.site-nav .item + .item {
    margin-left: 50px;
}
.mail-svg {
    
    margin-right: 10px;
    fill: currentColor;
}
.tel-svg {
    margin-right: 10px;
    fill: currentColor;
}
.site-contact {
    display: flex;
    margin-left: auto;
    

}
.site-contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
    
}
.site-contact .item + .item {
    margin-left: 50px;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    
    background-color: var(--button-text);

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC;
    
}
.overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    
}
.hero {
    

    background-color: #c4c4c4;
}
.hero-title {
    display: block;
    margin: 0 auto;

    max-width: 696px;
  

    color: var(--button-text);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    text-align: center;

}

.hero-button {
    display: block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--feature-gap);
    border: none;


    min-width: 200px;


    background-color: var(--accent-color);
    color: var(--button-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;


}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transform: scale(1, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 50;
    
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transform: scale(2, 2);
    
    
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;

    width: 528px;
    height: 581px;

    padding: 40px;


    border-radius: 4px;
    background-color: var(--button-text);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);

    

}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    min-width: 30px;
    min-height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;

    transition-property: background-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

}
.close {
    display: flex;
    fill: #000000;
}
.close:hover,
.close:focus {
    fill: var(--accent-color);
}
/*form Hero*/

.hero-form > b {
    display: inline-block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
}
.form-input {
    
    display: block;
    width: 100%;
    height: 40px;

    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 38px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: background-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;


}
.form-input:focus,
.form-input:hover, 
.form-input:focus + .icon-input,
.form-input:hover +.icon-input {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    color: var(--accent-color);

    transition-property: background-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

}
.input-comment {
    padding: 12px 16px;
    margin-bottom: 20px;

    height: 120px;
    width: 448px;
    resize: none;
}
.icon-name {
    position: absolute;
    left: 52px;
    top: 104px;


}
.icon-phone {
    position: absolute;
    left: 52px;
    top: 172px;
}
.icon-email-black {
    position: absolute;
    left: 52px;
    top: 240px;
}
.feature {
    padding-top: 94px;
    padding-bottom: 94px;

    
}

.form-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-submit-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 50px;
    
    margin-top: 30px;

    background-color: var(--accent-color);
    color: var(--button-text);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.policy {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.policy-link {
    color: var(--accent-color);
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 1px solid #212121;
    border-radius: 2px;
    transition-property: background-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

}
.checkbox:checked + .icon {
    border-color: transparent;
    background-color: #2196F3;
    background-image: url(../icons/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
    transition-property: background-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
}

h2,
h3 {
    margin: 0;
    padding: 0;

    color: var(--title-text-color);    
}
p {
    margin: 0;
    padding: 0;
    
    color: var(--primary-text-color);
}
.feature-list {
    display: flex;
    flex-wrap: wrap;
    

}
.feature-list-icon {
    margin-bottom: var(--feature-gap);
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 270px;
    height: 120px;

    background-color: #F5F4FA;
    border-radius: 4px;
    fill: var(--title-text-color);

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.feature-list-icon:hover,
.feature-list-icon:focus {
    fill: var(--accent-color);
    
}
.feature-list > .item {
    flex-basis: calc(100% / 4 - var(--feature-gap));
    margin-left: var(--feature-gap);
    min-width: 270px;
}
.feature-list>.item:first-child {
    margin-left: 0;
}
.section-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    
}



.feature-title {
    display: none;
}
.feature .list-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature .text {
    margin-top: 10px;
    
    font-size: 14px;
    line-height: 1.71;
}
.aboutus {
    padding-bottom: 94px;
    
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.work > .item {
    position: relative;
    z-index: 1;
    flex-basis: calc(100% / 3 - var(--feature-gap));

    min-width: 370px;
    margin-left: auto;
    margin-right: auto;
    
}
.work .item:not(:first-child) {
    margin-left: var(--feature-gap);
}
.work-thumb::before {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;

    display: inline-block;
    content: "";
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

}
.work-thumb > span {
    position: absolute;
    left: 83px;
    bottom: 27px;

    display: inline-block;
    content: "";

    z-index: 20;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--button-text);
    
}


.team > .item {
    margin-left: var(--feature-gap);
    padding-bottom: var(--feature-gap);

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

}
.team>.item:first-child {
    margin-left: 0;
}
.ourteam {
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}
.item-team {
    min-width: 270px;
    min-height: 428px ;

    padding-bottom: var(--feature-gap);

    
}
.team > .item {
    flex-basis: calc(100% / 4 - var(--feature-gap));
    margin-left: var(--feature-gap);
    min-width: 270px;

    background-color: var(--button-text);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.team .team-title {
    text-align: center;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
}
.team .text {
    text-align: center;
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}
.name {
    padding-top: var(--feature-gap);
    padding-bottom: 16px;

}
.social-list {
    display: flex;
    justify-content: space-between;

    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
    


    
}

.social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    

    width: 44px;
    height: 44px;
    color: var(--color-icon);
    background-color: var(--button-text);
    border-radius: 50%;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    
}
.social:hover,
.social:focus {
    background-color: var(--accent-color);
    color: var(--button-text);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.icon-social {
    display: flex;
    align-content: center;
    
    fill: currentColor;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.icon-social:hover,
.icon-social:focus {
    fill: currentColor;
    
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.clients-logo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    color: var(--color-icon);

    border: 1px solid var(--color-icon);
    border-radius: 4px;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.icon-client {
    
    fill: currentColor;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.icon-client:hover,
.icon-client:focus {
    fill: currentColor;
    
}
.client-link:hover,
.client-link:focus {
    border-color: var(--accent-color);
    

}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--tertiary-bg-color);
}

.footer-address .logo > span {
    color: var(--button-text);
}
.address .link{
    color: var(--button-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.address .email, .address .tel {
    display: block;
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    
}
.address {
    margin-top: 20px;
}
.follow {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 93px;
}
.follow-text {
    margin-bottom: 20px;
    width: 145px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03px;
    text-transform: uppercase;

    color: var(--button-text);
    

}
.footer {
    display: flex;
    align-items: baseline;
}
.social-list-footer {
    display: flex;
}
.social-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.social-footer:hover,
.social-footer:focus {
    background-color: var(--accent-color);
    
}
.icon-social-footer {
    fill: var(--button-text);
}
.social-list-footer-item + .social-list-footer-item {
    margin-left: 10px;
}

/*form*/

.form-submit {
    display: inline-flex;
    
}
.submit {
    display: flex;
    flex-direction: column;
    
}
.input-button {
    margin-top: 20px;
    
}
.input-submit {
    margin-right: 12px;
    padding-left: 16px;

    line-height: 1.25;
    letter-spacing: 0.03em;


    color: rgba(255, 255, 255, 0.6);

    background-color: var(--tertiary-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    width: 358px;
    height: 50px;

}
.input-submit:hover,
.input-submit:focus {
    border-color: var(--accent-color);
}
.text-submit {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--button-text);

}
.button-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 0;
    padding: 0;
    
    
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #2196F3;

    font-weight: 700;
    line-height: 1.88;
    
    color: var(--button-text);
    letter-spacing: 0.06em;


}
.icon-send {
    display: inline-block;
    margin-left: 10px;
    fill: #FFFFFF;
}
/*portfolio*/
.filtr {
    padding-top: 94px;
    padding-bottom: 94px;

    
}

.filtr .buttons {
    display: flex;
    justify-content: center;
    
    

}
.filtr button {
    display: block;
    padding: 6px 22px;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    border-radius: 4px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.filtr button:hover,
.filtr button:focus {
    
    color: var(--button-text);
    background-color: var(--accent-color);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}
.buttons > .item:not(:first-child) {
    margin-left: 8px;
    
}
.projects {
    
    display: flex;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
   
    
}
.projects > .item-projects {
    width: 370px;
    
    margin-top: var(--feature-gap);
    

    background-color: var(--button-text);
    border: 1px solid #EEEEEE;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    
}
.item-projects:hover,
.item-projects:focus {
    
    
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.item-projects + .item-projects{
    margin-left: var(--feature-gap);
}
.item-projects:nth-child(-n+3) {
    margin-top: 0;
}
.item-projects:nth-child(3n+4) {
    margin-left: 0;
}
.projects-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}
.projects .text {
    margin-top: 4px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}
.content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    
}
.overlay-projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-projects {
    position: relative;
    overflow: hidden;

    

}
.item-projects:hover .overlay-projects {
    transform: translateY(0);
}
.text-overlay {
    font-size: 18px;
    line-height: 1.56;
    color: var(--button-text);
}