.clients {
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients__logo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.clients__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    color: var(--color-icon);

    border: 1px solid var(--color-icon);
    border-radius: 4px;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    
&:hover,
&:focus {
    border-color: var(--accent-color);
    
}    
}

.clients__icon {

    fill: currentColor;

    transition-property: background-color;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;


&:hover,
&:focus {
    fill: currentColor;
}
}

