.header {
    padding-top: 24px;
    padding-bottom: 25px;

    background-color: var(--button-text);

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ECECEC;

}